body {
    width: 99%;
    height: 99%;
    background: black url("../img/backgrounds/moleback.png");
    background-size: cover;
    font-family: monospace;
}

#div-main {
    position: absolute;
    border: thick solid #2f4f4f;
    background-color: black; //rgba(38, 63, 63, 0.5);
}

.sidebar {
    position: fixed;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: #2f4f4f;
    color: white;
}
#sidebar_left { left: 0; }
#sidebar_right { right: 0; }

.board-view {
    width: 100%; height: 100%;
    /*
    position: absolute;
    align-items: stretch;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
    */
}

.overlay-view {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
}

#main-board {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
}

#main-board > div > canvas {
    cursor: move;
}

#div-games {
    overflow: scroll;
    height: 50%;
}

#div-games > table {
    color: black;
    display: table;
}

#div-games > table > tr > td {
    border-style: solid;
}

#div-moves {
    overflow-y: scroll;
    height: 50%;
    background-color: #2f4f4f; //#AAAA88;
}

#div-movetab > table {
    position: relative;
    top: 12px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#div-movetab > table > tr > td {
    background-color: black;
    color: white;
    border-style: solid;
}

#div-buttons {
    height: 5vh;
}

#div-messages {
    height: 85vh;
    background-color: #2f4f4f;
}

#txt-messages {
    position: relative;
    resize: none;
    background-color: black;
    color: chartreuse;
    width: 85%;
    height: 95%;
}

#div-inputs {
    height: 10vh;
    //background-color: black;
    //border: solid black 1px;
}

.counter {
    display: flex;
    background-color: aquamarine;
    color: black;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50vw;
    height: 3vh;
    width: 10vh;
    border: 2px solid;
}

#counter-top { top: 1vh; }
#counter-bottom { bottom: 0vh; }

#div-mole {
    display: none;
    text-blink: true;
    text-align: center;
    background-color: black;
    color: chartreuse;
}

.modal {
    display: none; /* Hidden by default */
    left: 25vw;
    top: 25vh;
    width: 50%;
    height: 50%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: #2f4f4f;
}

#div-highscores > table > tr > td {
    background-color: black;
    color: white;
    border-style: solid;
}

#div-splash {
    display: block;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-size: contain;
    background: white url("../img/mole-logo.png") no-repeat center;
}

.splash-butt {
    display: none;
}
